.login {
  background-color: rgb(255, 255, 255);
  min-height: 600px;

  .left{
    background-image: url('../../assets/logoU4L.svg');
    background-repeat: repeat;
    float: left;
    width: 40vw;
    height: 100vh;
  }
  
  .right {
    background-color: #3366FF;
    width: 60vw;
    height: 100vh;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    
    .right_login_header{
      width: 20vw;
      margin-top: 20vh;
      align-items: center;
      justify-content: center;
    }

    .right_login_footer {
      width: 20vw;
      display: flex;
      align-items: baseline;
      justify-content: left;
      flex-direction: row;
      margin-top: 30px;
      gap: 10px;

      button {
        margin-top: 50px;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #938eef;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .frm_login {
      width: 20vw;
      display: flex;
      flex-direction: column;
      h1 {
      color: #555;
      font-size: 50px;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      input {
      width: 100%;
      border: none;
      border-radius: 5px;
      border-bottom: 1px solid lightgray;
      padding: 20px 10px;
      }
      
      button {
        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #938eef;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
    h1 {
      font-size: 100px;
      line-height: 100px;
    }
    p{
      font-size: large;
      font-weight: bold;
    }
  }
}
